body{
margin:0;
background:black;
color:white;
font-family:Arial;
}


header{
text-align:center;
background:#111;
padding:15px;
}


#upload{
background:#222;
padding:20px;
text-align:center;
}


button{
background:red;
color:white;
padding:12px;
border:none;
border-radius:10px;
}


.video-card{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
position:relative;
}


video{
height:100%;
width:100%;
object-fit:cover;
}


.caption{
position:absolute;
bottom:50px;
left:20px;
font-size:20px;
}
